mat-grid-list, mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }
.main-form{
    position:relative;
    height: -webkit-fit-available;
    -webkit-text-stroke-width: medium;

}
.inner-lef-chat-panel{
    width: 100%;
    height:100% !important;
    overflow: auto;
}
.ultra-wide{
    width:700px;
}
.top-chat-header{
    background-color: darken($color: #ffb8b8, $amount: 0);
}
.left-chat-panel{
    flex-grow: 1;
    overflow: auto;
    background-color: darken($color: #9e676796, $amount: 0);
}
.right-chat-panel{
    background-color: darken($color: #2b50a7c2, $amount: 0);
}
.bottom-chat-panel{
    background-color: darken($color: #69a736ad, $amount: 0);
}