<div class="container">
    <mat-tab-group>
        <mat-tab class="prueba" label="Chats" style="height: 100%;">
            <div fxFlex="0 0 100%" fxLayout="column" style="height: 100%;">
                <app-chats style="height: 100%;"></app-chats>
            </div>
        </mat-tab>
        <mat-tab class="prueba" label="Friends">
            <div fxFlex="0 0 100%" fxLayout="column" style="height: 100%;">
                <app-friends style="height: 100%;"></app-friends>
            </div>
        </mat-tab>
    </mat-tab-group>
    <style>

    </style>
</div>