#message-author{
    padding:2px;
    font-size: small;
    font-weight: bold;
}
#message-content{
    padding:2px;
    font-size: medium;
    overflow-wrap: break-word;
    word-break: break-word;
}
#message-date{
    font-size: small;
    font-weight: lighter;
    color: gray;
    padding: 4px;
}
#message-bottom{
    padding-top:2px;
}